html, body {
    display: flex;
    justify-content: center;
    margin: 40px 10px 40px 10px;
    
    background-color: #181a1b;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}